html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    form(action='/createGoal/master', method='post')
      p
        input(type='text', name='title', placeholder='Title')
      p
        input(type='text', name='description', rows='4', placeholder='Description')
      p Time to Complete
      p
        select(name='months')
          option(value='4') ULTIMATE DEDICATION! -- 4 months. About 8 hours/day
          option(value='6') FAST! -- 6 months. About 5 hours 30 minutes/day
          option(value='12') AVERAGE. 1 year. About 2 hours 45 minutes/day
          option(value='32.87') SLOW. 2 years 9 months. About 1 hour/day)                                     
      p
        input(type='submit', value='Save Goal!')
        
    a(href='/profile') Back to Profile