html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    form(action='/createGoal/practiced', method='post')
      p
        input(type='text', name='title', placeholder='Title')
      p
        input(type='text', name='description', rows='4', placeholder='Description')
      p
        input(type='number', name='hours', placeholder='Hours')
        span  Per
         
        select(name='interval')
          option(value='day') Day
          option(value='week') Week                               
      p
        input(type='submit', value='Save Goal!')
        
    a(href='/profile') Back to Profile